{% extends 'flatpages/default.html' %}

{% block title %}
Оформить подписку
{% endblock title %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    <label for="name">Ваше имя</label>
    <input type="text" name="name"><br>
    <label for="category">Категория, на которую вы хотите подписаться</label>
    <label><input type="radio" name="category">Психология</label>
    <label><input type="radio" name="category">Спорт</label>
    <label><input type="radio" name="category">Политика</label>
    <label><input type="radio" name="category">Экономика</label>
    <input type="submit" value="Оформить" />
</form>
{% endblock content %}